In [2]:
import pandas as pd
import numpy as np

https://github.com/guipsamora/pandas_exercises/tree/master/01_Getting_%26_Knowing_Your_Data/Chipotle

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [23]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipo.index.max()

4621

In [81]:
chipo['item_price'] = chipo['item_price'].str.replace("$"," ").astype(float)

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [118]:
col = len(chipo.columns)
col

5

In [18]:
print(list(chipo.columns))

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [124]:
chipo.pivot_table(values = ['quantity','item_price'],index=['item_name'], 
aggfunc = np.sum).sort_values(by='quantity', ascending=False)

                                       item_price  quantity
item_name
Chicken Bowl                              7342.73       761
Chicken Burrito                           5575.82       591
Chips and Guacamole                       2201.04       506
Steak Burrito                             3851.43       386
Canned Soft Drink                          438.75       351
Chips                                      494.34       230
Steak Bowl                                2260.19       221
Bottled Water                              302.56       211
Chips and Fresh Tomato Salsa               361.36       130
Canned Soda                                137.34       126
Chicken Salad Bowl                        1228.75       123
Chicken Soft Tacos                        1108.09       120
Side of Chips                              185.90       110
Veggie Burrito                             934.77        97
Barbacoa Burrito                           894.75        91
Veggie Bowl                                867.99        87
Carnitas Bowl                              736.71        71
Barbacoa Bowl                              672.36        66
Carnitas Burrito                           597.83        60
Steak Soft Tacos                           536.05        56
6 Pack Soft Drink                          356.95        55
Chips and Tomatillo Red Chili Salsa        147.50        50
Chicken Crispy Tacos                       472.13        50
Chips and Tomatillo Green Chili Salsa      132.75        45
Carnitas Soft Tacos                        375.94        40
Steak Crispy Tacos                         357.34        36
Chips and Tomatillo-Green Chili Salsa       78.87        33
Steak Salad Bowl                           343.59        31
Nantucket Nectar                            98.31        29
Chips and Tomatillo-Red Chili Salsa         59.75        25
Barbacoa Soft Tacos                        250.46        25
Chips and Roasted Chili Corn Salsa          67.85        23
Izze                                        67.80        20
Veggie Salad Bowl                          182.50        18
Chips and Roasted Chili-Corn Salsa          43.02        18
Barbacoa Crispy Tacos                      120.21        12
Barbacoa Salad Bowl                        106.40        10
Chicken Salad                               81.09         9
Carnitas Crispy Tacos                       77.96         8
Veggie Soft Tacos                           73.96         8
Burrito                                     44.40         6
Veggie Salad                                50.94         6
Carnitas Salad Bowl                         66.34         6
Bowl                                        29.60         4
Steak Salad                                 35.66         4
Salad                                       14.80         2
Crispy Tacos                                14.80         2
Chips and Mild Fresh Tomato Salsa            3.00         1
Carnitas Salad                               8.99         1
Veggie Crispy Tacos                          8.49         1

In [ ]:
# for the most ordered item = 761 
# Chicken bowl 
#diet coke was most ordered item in choice description , 159 
#Items ordered in total 4972

In [93]:
chipo['quantity'].sum()

4972

In [129]:
#revenue for the period 

Rev = chipo['item_price']*chipo['quantity']

np.round((Rev.sum()),2)

39237.019999999997

In [136]:
# Average order size 

Rev.mean()
Rev.sum()/order

21.3942311886587

In [112]:
# of Unique Orders 
Combined = chipo['item_name']+ chipo['choice_description']
Combined.nunique()

1859

In [138]:
# of Orders Made 
order = chipo['order_id'].nunique()
order

1834

In [116]:
chipo.shape

(4622, 5)

In [117]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

In [120]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [170]:

c=  chipo.groupby('item_name').sum()
#c = c.sum()
#c = c.sort_values(['quantity'], ascending=False)
c

                                       order_id  quantity  item_price  revenue
item_name
6 Pack Soft Drink                         52322        55      356.95   369.93
Barbacoa Bowl                             53972        66      672.36   672.36
Barbacoa Burrito                          74718        91      894.75   894.75
Barbacoa Crispy Tacos                      5613        12      120.21   138.71
Barbacoa Salad Bowl                        9708        10      106.40   106.40
Barbacoa Soft Tacos                       18725        25      250.46   250.46
Bottled Water                            175944       211      302.56   649.18
Bowl                                        472         4       29.60    74.00
Burrito                                    1550         6       44.40    44.40
Canned Soda                               76396       126      137.34   191.84
Canned Soft Drink                        304753       351      438.75   603.75
Carnitas Bowl                             62742        71      736.71   830.71
Carnitas Burrito                          51652        60      597.83   616.33
Carnitas Crispy Tacos                      5868         8       77.96    95.94
Carnitas Salad                             1500         1        8.99     8.99
Carnitas Salad Bowl                        6693         6       66.34    66.34
Carnitas Soft Tacos                       37673        40      375.94   375.94
Chicken Bowl                             713926       761     7342.73  8044.63
Chicken Burrito                          497303       591     5575.82  6387.06
Chicken Crispy Tacos                      47382        50      472.13   524.11
Chicken Salad                             10465         9       81.09    81.09
Chicken Salad Bowl                       117104       123     1228.75  1506.25
Chicken Soft Tacos                        98395       120     1108.09  1199.01
Chips                                    208004       230      494.34   580.34
Chips and Fresh Tomato Salsa             100419       130      361.36  1033.96
Chips and Guacamole                      449959       506     2201.04  2475.62
Chips and Mild Fresh Tomato Salsa           279         1        3.00     3.00
Chips and Roasted Chili Corn Salsa        14999        23       67.85    73.75
Chips and Roasted Chili-Corn Salsa        17462        18       43.02    43.02
Chips and Tomatillo Green Chili Salsa     41170        45      132.75   144.55
Chips and Tomatillo Red Chili Salsa       45556        50      147.50   159.30
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87    88.43
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75    93.21
Crispy Tacos                                434         2       14.80    14.80
Izze                                      10587        20       67.80    67.80
Nantucket Nectar                          21814        29       98.31   111.87
Salad                                      1150         2       14.80    14.80
Side of Chips                             84769       110      185.90   290.68
Steak Bowl                               193752       221     2260.19  2479.81
Steak Burrito                            328437       386     3851.43  4236.13
Steak Crispy Tacos                        35818        36      357.34   375.32
Steak Salad                                2362         4       35.66    35.66
Steak Salad Bowl                          29590        31      343.59   391.15
Steak Soft Tacos                          50177        56      536.05   554.55
Veggie Bowl                               72270        87      867.99   901.95
Veggie Burrito                            80962        97      934.77  1002.27
Veggie Crispy Tacos                         668         1        8.49     8.49
Veggie Salad                               7265         6       50.94    50.94
Veggie Salad Bowl                         17303        18      182.50   182.50
Veggie Soft Tacos                          5520         8       73.96    90.94

In [141]:
r = chipo['revenue'] = chipo['quantity'] * chipo['item_price']
r.sum()

39237.020000000055

In [143]:
o = order_grouped = chipo.groupby(by=['order_id']).sum()
o

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
6                2       17.50    17.50
7                2       15.70    15.70
8                2       10.88    10.88
9                3       10.67    12.85
10               2       13.20    13.20
11               2       12.38    12.38
12               2       14.37    14.37
13               2       10.88    10.88
14               2       10.08    10.08
15               2       10.88    10.88
16               2       10.68    10.68
17               2       10.08    10.08
18               4       24.90    24.90
19               2       13.90    13.90
20               4       36.20    36.20
21               3       23.36    23.36
22               2       12.98    12.98
23               3       11.17    13.35
24               2       12.07    12.07
25               2       11.38    11.38
26               2       20.50    20.50
27               2       13.90    13.90
28               4       33.70    33.70
29               2       17.98    17.98
30               3       23.36    23.36
...            ...         ...      ...
1805             2       20.00    20.00
1806             4       13.00    13.00
1807             2       18.64    18.64
1808             2       13.70    13.70
1809             3       14.45    14.45
1810             2       23.00    23.00
1811             3       29.25    29.25
1812             4       22.50    25.00
1813             2       17.50    35.00
1814             2       13.70    13.70
1815             2       12.50    12.50
1816             2       13.20    13.20
1817             4       13.00    13.00
1818             2       18.14    18.14
1819             2       13.20    13.20
1820             2       12.50    12.50
1821             2       13.70    13.70
1822             4       23.00    26.00
1823             3       12.15    12.15
1824             3       26.95    26.95
1825             6       66.50    66.50
1826             4       15.95    15.95
1827             5       32.95    32.95
1828             3       14.45    14.45
1829             3       24.25    24.25
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

In [163]:
chipo['item_name'].unique()[0:10][-2:]

array(['Chips and Guacamole', 'Chicken Crispy Tacos'], dtype=object)